<!DOCTYPE html>
<html lang="en">
  <head><% include partials/page/head.ejs %></head>
  <body class="<%= classname %>">

  <% include partials/page/header.ejs %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Hello, world!</h1>
      <h2 class="display-2"> This is my <%= pagetitle %> <%= title %></h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet dolorem omnis doloremque consectetur qui eaque a quisquam. Esse distinctio cum quasi consequuntur soluta placeat, magnam modi aliquid nisi, iste nulla!</p>
      <p class="lead"><a href="#" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    </div>
    
    <% if(typeof(users) !== 'undefined')  { %>
      <ul class="list-group">
        <% users.forEach((user) => { %>
        <li class="list-group-item"><%= user %></li> 
        <% }); %>
      </ul>
    <% } %>

    <% include partials/page/footer.ejs %>
    <% include partials/page/jsdefaults.ejs %> <!-- Script tags needed on all pages -->
  </div> <!-- container -->

</body>
</html>